/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
	font-size: 80px;
}

h3 {
	font-size: 40px;
	color: #AAA;
}

.press-links a img {
	display: inline-block;
	border: 4px;
	border-style: solid;
	border-color: #ddd;
}

[src*="necklace"] {
	border: 8px;
	border-color: #CCC;
	border-style: solid;
	margin-top: 10px;
}

.top-bar {
	border-bottom: 2px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	border-color: #EEE;
	padding: 0px 0px 0px 0px;
}

.top-bar a:link {
	color: #AAA;
	text-decoration: none;
}

a:active {
	color: #555;
}

.top-bar a:hover {
	color: #777;
}

a img:hover {

	border-color: #555;
}
